.container__image {
    width: 10rem;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 0;
}

.container__rating {
    text-align: center;
    margin: auto;
    color: var(--orange);
    background-color: var(--gray);
    border-radius: 30px;
    padding: 0.5rem;
    width: 15rem;
}

.container__title {
    text-align: center;
    padding-top: 0.5rem;
}

.container__text {
    margin: auto;
    text-align: center;
    color: var(--medium-gray);
    width: 25rem;
}